{% load static i18n %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <script>document.write(new Date().getFullYear())</script>
                    © NamDPI - <a href="https://namspi.uz/" target="_blank">NamSPI.uz</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-none d-md-flex gap-4 align-items-center justify-content-md-end footer-links">
                    <a href="{% url 'about' %}">{% trans "Biz haqimizda" %}</a>
                    <a href="{% url 'feedback' %}">{% trans "Qo‘llab-quvvatlash" %}</a>
                    <a href="{% url 'contact' %}">{% trans "Bog‘lanish" %}</a>
                </div>
            </div>
        </div>
    </div>
</footer>
